*, *::before, *::after {
	box-sizing: border-box;
}


body{
	background-color:#f4f4f4;
	color:#555555;

	font-family: Georgia, 'Times New Roman', Times, serif;

	font-size:18px;
	line-height: 1.5em;
	margin:0;
}

.container{
	width: 20%;
	margin:auto;
}

.box-1{
	background-color: lightgray;
	color:black;
	border:5px darkslategray solid;
	padding: 5%;
	box-sizing: border-box;
	min-width: 300px;
	width: 100%;
}

.box-1 h1{
	text-align: center;
	margin:0;

}

.form-login{
	text-align: center;
}

.form-login label{
	display: block;
	padding-top: 10px;
}

.form-login input{
	text-align: center;
}

.form-login input[type="submit"]{
	margin-top:1em;
}

.buttom {
	
}